@model _ITI.Staff

@{
    ViewBag.Title = "Delete";
}

<<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>Delete</h2>
                        <p>Are you sure you want to delete this Course?</p>
                    </div>
                    <!-- end title -->
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Email_Staff)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email_Staff)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Specialization)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Specialization)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>